body, button, select, p, h1, footer {
    margin: 0.3em;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: grid;
    justify-content: center;
}

p, select, button {
    font-size: large;
}

#p5canvas {
    display: grid;
    justify-content: center;
}

.controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: grid;
    justify-content: center;
}

footer > p {
    font-size: smaller;
}

canvas {
    margin: 0.3em;
}